.book-cont {
  /* background-color: gray; */
  margin-top: 6rem;
  width: 40%;
  padding: 20px 0px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  /* margin: auto; */
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.book-cont h2 {
  /* background-color: red; */
  text-align: center;
}

#outlined-basic {
  padding-bottom: 2rem;
}

.addBtn {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 1008px) and (min-width: 641px) {
  .book-cont {
    width: 30rem;
    margin: auto;
    margin-top: 2rem;
    /* background-color: green; */
  }
}

@media only screen and (max-width: 640px) and (min-width: 400px) {
  .book-cont {
    width: 25rem;
    margin: auto;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 399px) {
  .book-cont {
    width: 100%;
    margin-top: 2rem;
  }
  .book-form {
    margin: none;
    /* background-color: blueviolet; */
    width: 90%;
  }
}
