/* HEADING */
.current_book_cont {
  width: 60%;
  margin: 6rem auto;
}

.current_book_cont .heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.current_book_cont .heading .desc {
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
}

.current_book_cont .currentRead {
  margin-top: 0;
}

.nullCurrentBook {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* BOOK CONT */
.book-cont {
  position: relative;
  display: flex;
  width: 100%;
  font-family: "Inter", Helvetica;
  margin-top: 4rem;
  justify-content: center;
}

/* BOOK INFO */

.current_book_cont .book-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* background-color: rgb(238, 218, 221); */
}

.current_book_cont .title {
  font-size: 21px;
  font-weight: 400;
  color: #0e345a;
  font-family: "Inter", Helvetica;
  margin-bottom: 2rem;
}

.current_book_cont .author {
  margin-bottom: 2rem;
}

/* bookdetail */
.current_book_cont .book-details {
  margin-bottom: 2rem;
}

.current_book_cont .genre {
  margin-bottom: 0;
}

.current_book_cont .page {
  margin-bottom: 2rem;
}

.current_book_cont .description {
  font-size: 16px;
  font-weight: 400;
}
.dropDownArrow {
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}
/* button */

.link-wrapper {
  display: flex;
  justify-content: flex-start;
}

/* BOOK IMG */
.img-cont {
  display: flex;
  background-color: #e8de07;
  /* padding: 1rem 1rem; */
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 528px;
  height: 674px;
  border: 13px solid #0e345a;
}

.img-cont img {
  width: 50%;
  box-shadow: -12px 12px 15px rgba(0, 0, 0, 0.5);
}

/* View Container */
.view_cont {
  /* background-color: gray; */
  width: 100%;
  background-color: rgba(246, 246, 246, 1);
  margin-top: 1rem;
}
/* Note */
.note_cont {
  margin-top: 1.5rem;
  background-color: rgba(246, 246, 246, 1);
}

.notes {
  /* background-color: pink; */
  margin: auto;
}

@media only screen and (max-width: 1008px) and (min-width: 641px) {
  /* HEADING */
  .current_book_cont {
    width: 85%;
  }
  /* BOOK CONT */
  .book-cont {
    margin-top: 2rem;
  }

  /* BOOK INFO */
  .current_book_cont .book-info {
    width: 60%;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
  }
  .current_book_cont .title {
    margin-bottom: 1rem;
  }

  .current_book_cont .author {
    margin-bottom: 1rem;
  }

  /* bookdetail */
  .current_book_cont .book-details {
    margin-bottom: 1rem;
  }

  .current_book_cont .page {
    margin-bottom: 1rem;
  }

  /* BOOK IMG */
  .img-cont {
    width: 350px;
    height: 446.78px;
    border: 10px solid #0e345a;
  }
  .view_cont {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 640px) and (min-width: 400px) {
  /* HEADING */
  .current_book_cont {
    width: 90%;
    margin: 4rem auto;
  }
  .current_book_cont .heading {
    font-size: 12px;
  }
  .current_book_cont .heading .desc {
    font-size: 14px;
  }

  /* BOOK CONT */
  .book-cont {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  /* BOOK INFO */
  .img-cont {
    order: 0;
  }

  .book-info {
    order: 1;
  }

  .current_book_cont .book-info {
    width: 90%;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
  }

  .current_book_cont .title {
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }

  .current_book_cont .author {
    margin-bottom: 0.7rem;
  }

  /* bookdetail */
  .current_book_cont .book-details {
    margin-bottom: 0.7rem;
  }

  .current_book_cont .page {
    margin-bottom: 0.7rem;
  }
  .current_book_cont .description {
    display: flex;
    align-items: center;
  }

  .dropDownArrow {
    display: inline;
    font-size: 25px;
    /* background-color: red; */
  }

  /* BOOK IMG */
  .img-cont {
    width: 240px;
    height: 306.36px;
    border: 8px solid #0e345a;
  }
  .img-cont img {
    width: 50%;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.5);
  }
  .view_cont {
    margin-top: 0.6rem;
  }
}

@media only screen and (max-width: 399px) {
  /* HEADING */
  .current_book_cont {
    width: 90%;
    margin: 4rem auto;
  }
  .current_book_cont .heading {
    font-size: 12px;
  }
  .current_book_cont .heading .desc {
    font-size: 14px;
  }

  /* BOOK CONT */
  .book-cont {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  /* BOOK INFO */
  .img-cont {
    order: 0;
  }

  .book-info {
    order: 1;
  }

  .current_book_cont .book-info {
    width: 90%;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
  }

  .current_book_cont .title {
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }

  .current_book_cont .author {
    margin-bottom: 0.7rem;
  }

  /* bookdetail */
  .current_book_cont .book-details {
    margin-bottom: 0.7rem;
  }

  .current_book_cont .page {
    margin-bottom: 0.7rem;
  }

  /* BOOK IMG */
  .img-cont {
    width: 240px;
    height: 306.36px;
    border: 8px solid #0e345a;
  }
  .img-cont img {
    width: 50%;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.5);
  }
  .current_book_cont .description {
    display: flex;
    align-items: center;
  }

  .dropDownArrow {
    display: inline;
    font-size: 25px;
    /* background-color: red; */
  }
}
