* {
  --clr-primary: #0e345a;
  --clr-bg: #8a98d6;
  --primary-color: rgba(128, 83, 255, 1);
  --secondary-color: rgba(35, 21, 91, 1);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Syne:wght@400..800&display=swap");

.heading-font {
  font-family: "Syne", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-font {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  border: 3px solid #0e345a;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  padding: 0 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 151px;
}

.btn-primary:hover {
  background-color: #092849;
  color: #fff;
}

@media only screen and (max-width: 399px) {
  .btn-primary {
    border: 3px solid #0e345a;
    font-size: 15px;
    height: 40px;
    padding: 0 10px;
    width: 110px;
  }

  .btn-primary:hover {
    background-color: #092849;
    color: #fff;
  }
}
