.list-cont {
  /* background-color: lightblue; */
  width: 65%;
  padding-top: 4rem;
  text-align: center;
}

.list-cont h1 {
  margin-top: 5rem;
}

.book-list {
  width: 40rem;
  margin: auto;
}

.book-list li {
  font-size: 40px;
  list-style: none;
  text-align: left;
  padding-left: 4rem;
  cursor: pointer;
  transition: transform 0.3s ease; /* add transition effect */
}

.book-list li.active {
  transform: translateX(30px);
}

.book-element {
  background-color: wheat;
  border-top: 12px solid #000;
  border-left: 12px solid #000;
  border-bottom: 10px solid #000;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* padding: px; */
}

@media only screen and (max-width: 600px) {
  .list-cont {
    /* background-color: red; */
    width: 100%;
  }

  .book-list {
    width: 80%;
    margin: auto;
    padding-left: 0px;
  }

  .book-list li {
    font-size: 30px;
  }
}
