.list-cont {
  /* background-color: rgb(93, 85, 204); */
  width: 60%;
  /* padding-top: 4rem; */
  margin-top: 6rem;
  text-align: center;
}

.book-list {
  /* width: 40rem; */
  width: 34rem;
  margin: auto;
  padding-left: 0;
}

.book-list li {
  font-size: 35px;
  list-style: none;
  text-align: left;
  padding-left: 4rem;
  cursor: pointer;
  transition: transform 0.3s ease; /* add transition effect */
}

.book-list li.active {
  transform: translateX(30px);
}

.book-element {
  background-color: wheat;
  border-top: 12px solid #000;
  border-left: 12px solid #000;
  border-bottom: 10px solid #000;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* padding: px; */
}

@media only screen and (max-width: 1008px) and (min-width: 641px) {
  .list-cont {
    /* background-color: rgb(79, 202, 186); */
    width: 100%;
  }
  .book-element {
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* padding: px; */
  }
}

@media only screen and (max-width: 640px) {
  .list-cont {
    /* background-color: rgb(93, 85, 204); */
    width: 100%;
  }
  .book-list {
    width: 25rem;
  }
  .book-list li {
    font-size: 25px;
  }
  .book-element {
    border-top: 8px solid #000;
    border-left: 8px solid #000;
    border-bottom: 8px solid #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* padding: px; */
  }
}

/* .container {
    max-width: 1200px;
  } */
