.book-cont {
  /* background-color: gray; */
  margin-top: 9rem;
  width: 35%;
  padding: 20px 0px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;
  /* margin: auto; */
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.book-cont h2 {
  /* background-color: red; */
  text-align: center;
}

.book_form_cont {
  display: grid;
  margin: auto;
  width: 90%;
  background-color: #fff;
  /* padding-left: 1rem; */
  /* padding-right: 3rem; */
}

#outlined-basic {
  padding-bottom: 2rem;
}

.addBtn {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 1008px) and (min-width: 641px) {
  .book-cont {
    width: 30rem;
    margin: 0;
    margin-top: 2rem;
    /* background-color: green; */
  }
  .book-cont .book_form_cont form {
    background-color: red;
  }
  .book_form_cont input {
    width: 70vw;
  }
}

@media only screen and (max-width: 640px) and (min-width: 400px) {
  .book-cont {
    width: 25rem;
    /* margin: auto; */
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 399px) {
  .book-cont {
    width: 95%;
    margin-top: 2rem;
  }
  _form_cont {
    margin: none;
    /* background-color: blueviolet; */
    width: 90%;
  }
  .book_form {
    background-color: red;
    padding: 10px;
  }
  .book_form input {
    width: 70vw;
  }
}
