.hidden {
  display: none;
}
.current_book_cont {
  margin-top: 6rem;
  height: 80vh;
  /* background-color: gray; */
}
.current_flag {
  background-color: gray;
  width: 200px;
  font-size: 25px;
  padding: 6px;
  padding-left: 3rem;
}

.current_book_cont h2 {
  text-align: center;
  font-size: 30px;
}

.info_cont {
  display: flex;
  margin-left: 7vw;
  margin-right: 7vw;
  flex-direction: row;
  justify-content: space-evenly;
}

.img_cont {
  width: 40%;
  /* background-color: red; */
  /* padding: 0 20px; */
}
.img_cont img {
  width: 100%;
}

.text_cont {
  width: 60%;
  margin-right: 1rem;
  margin-left: 1rem;
}

.text_cont p {
  font-size: 22px;
}
.text_cont span {
  font-weight: 700;
}

.btn_cont {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
}

.addBtn {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

/* VIEW CONTAINER */
.view_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view_info_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 2rem 0;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 2px 6px rgba(168, 168, 168, 0.4);
  border-radius: 10px;
}
.list_cont {
  width: 70%;
}

@media only screen and (max-width: 1008px) and (min-width: 641px) {
  .info_cont {
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: space-evenly;
  }
  .img_cont {
    width: 50vw;
  }
  .text_cont {
    padding-left: 0;
  }
  .btn_cont {
    justify-content: space-evenly;
    width: 100%;
  }

  .view_info_cont {
    width: 90%;
  }
  .list_cont {
    width: 60%;
  }
}

@media only screen and (max-width: 640px) and (min-width: 400px) {
  .info_cont {
    flex-direction: column;
  }
  .img_cont {
    width: 70%;
    margin: auto;
  }
  .text_cont {
    width: 100%;
    /* background-color: red; */
  }
  .btn_cont {
    justify-content: space-evenly;
    width: 100%;
  }
  .view_info_cont {
    /* background-color: red; */
    width: 100%;
  }
  .list_cont {
    width: 90%;
  }
}

@media only screen and (max-width: 399px) {
  .current_flag {
    width: 120px;
    font-size: 18px;
    padding: 2px;
    padding-left: 1rem;
  }
  .info_cont {
    flex-direction: column;
    margin: 0;
  }
  .img_cont {
    width: 90%;
    margin: auto;
  }
  .text_cont {
    width: 100%;
    padding: 0;
  }
  .text_cont p {
    font-size: 18px;
  }

  .btn_cont {
    justify-content: space-evenly;
    width: 100%;
  }
  .view_info_cont {
    /* background-color: red; */
    width: 100%;
  }
  .list_cont {
    width: 90%;
  }
}
