.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.phone-cont-top {
  background-color: rgb(225, 186, 144);
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.phone-cont-top h3 {
  margin-left: 15px;
}
.phone-cont-top p {
  margin-right: 15px;
}

/* @media screen and (max-width: 390px) {
  .phone-cont-top {
    font-size: 20px;
    padding: 15px 0px;
  }

  .phone-cont-top h3 {
    margin-left: 10px;
    color: red;
    color: inherit;
  }
  .phone-cont-top p {
    margin-right: 10px;
  }
} */
